body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "sans-serif";
}

#app {
  width: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.logo__section {
  width: 20%;
}

.nav-menu__section {
  width: 40%;
}

.nav-notifications__section {
  width: 40%;
}

.nav-bar {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.nav__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-menu__section {
  display: flex;
  align-content: center;
  align-content: center;
  padding: 10px 10px;
}

.nav-menu__section a {
  color: #C1B7C2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}

.nav-menu__section a:hover {
  text-decoration: none;
  color: #000;
}

.nav-notifications__section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px;
}

.notification__btn,
.message__btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
}

.nav-image-container {
  border-radius: 50%;
  background-color: beige;
  padding: 10px;
}

.nav-image-container img {
  max-width: 100%;
}

.inner-container {
  background-color: #F0F0F3;
  display: flex;
  flex-direction: column;
}

.side-bar-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar__header {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  align-self: flex-start;
  margin-left: 14%;
}

.side-bar-links {
  background-color: #fff;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.side-bar-links__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-bar-links-heading {
  padding: 10px;
}

.employee__section {
  display: inherit;
  flex-direction: row;
}

.employee-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__section li {
  list-style: none;
}

.projects__section li:hover {
  background-color: #C1B7C2;
}

.projects__section a {
  text-decoration: none;
}

.projects__section img {
  border: 1px solid brown;
  padding: 10px;
  border-radius: 50%;
}

